.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: {
        image: url(../../img/backround.jpg);
    }
}

h1 {
    color: rgb(0, 0, 88);
    font: {
        size: 70px;
        weight: 500;
        family: Brush Script MT, Brush Script Std, cursive;
    }
}
