.search {
    height: 100%;

    &__input {
        height: 100%;
        outline: none;
        border: none;
        border-radius: 20px;
        padding-left: 20px;
    }

    &__button {
        margin-left: 5px;
        height: 100%;
        font-family: Gill Sans, sans-serif;
        padding: 5px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        background-color: rgba(0, 0, 146, 0.685);
    }
}
