.table {
    width: 60%;
    text-align: center; 
    border-bottom: 2px solid #dfdfdf; 
    border-radius: 6px; 
    border-collapse: separate; 
    border-spacing: 0px;
}

.table__head {
    border: 1px solid black;
}